# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.HybridStats.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Dev\MobCat\EmbeddingBlog\HybridStats\.idea\.idea.HybridStats\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
